.hamburger {
    position: absolute;
    top: 20px;
    right: 30px;
    height: 21px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    cursor: pointer;
    span {
        display: block;
        width: 30px;
        height: 3px;
        background-color: #151812;
    }
    span.long {
        width: 36px;
    }
}

.menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    transition: all 0.6s;
    &.active {
        left: 0;
        visibility: visible;
        opacity: 1;    
    }
    &__block {
        position: relative;
        width: 345px;
        background-color: $main-color;
        height: 100%;
        padding-top: 140px;
        padding-left: 40px;
        transition: all .6s;
        z-index: 10;
    }
    &__close {
        position: absolute;
        top: 25px;
        right: 25px;
        cursor: pointer;
    }
    &__list {
        list-style-type: none;
        margin: 0;
        padding-left: 35px;
    }
    &__link {
        position: relative;
        font-size: 24px;
        font-weight: 700;
        line-height: 36px;
        margin-bottom: 15px;
        &:before {
            content: '';
            position: absolute;
            left: -35px;
            top: 10px;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            border: 1px solid #000;
            transition: all .4s;
        }
        &:hover {
            &:before {
                border-color: #fff;    
            }
        }
        a {
            position: relative;
            color: #fff;
            &:hover {
                text-decoration: none;
            }
            &:after {
                display: block;
                position: absolute;
                left: 0; /*изменить на right:0;, чтобы изменить направление подчёркивания */
                width: 0;/*задаём длинну линии до наведения курсора*/
                height: 2px; /*задаём ширину линии*/
                background-color: #fff; /*задаём цвет линии*/
                content: "";
                transition: width 0.3s ease-out; /*задаём время анимации*/
            }
            &:hover:after {
                width: 100%; /*устанавливаем значение 100% чтобы ссылка подчёркивалась полностью*/
            }
        }
    }
    &__social {
        position: absolute;
        bottom: 50px;
        left: 50%;
        transform: translateX(-50%);
        width: 90px;
        height: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        a:hover {
            svg path {
                fill: #fff;
            }
        }
    }
    &__overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        opacity: .75;
    }
}