.sidepanel {
    height: 340px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 230px;
    left: 50px;
    z-index: 2;
    &__divider {
        height: 70px;
        width: 2px;
        background-color: #000;
    }
    &__text {
        width: 25px;
        height: 150px;
        span {
            width: 90px;
            display: block;
            transform: rotate(-90deg) translate(-30%, -140%);
            font-weight: 700;
        }
    }
}